@model SquareNews.Web.Models.ArticleResult

@{
    ViewBag.Title = "SquareNews.com";
}

@*<h5 style="color:darkblue; font-weight:bold; float:right">@Model.TotalResults articles</h5> d-none d-sm-inline    *@

<div class="col-md-4">
    <div class="d-none d-sm-inline btn-group mr-3">
        <button class="btn btn-primary btn-lg dropdown-toggle btn-country" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Country
        </button>
        <div class="dropdown-menu menu-country" aria-labelledby="dropdownMenuLink">
        </div>
    </div>

    <div class="d-none d-sm-inline btn-group mr-3">
        <button class="btn btn-primary btn-lg dropdown-toggle btn-duration hidden-md hidden-sm hidden-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Duration
        </button>
        <div class="dropdown-menu menu-duration" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" style="font-weight:bold" href="/Home/GetArticles/">Last 3 Hours</a>
            <a class="dropdown-item" style="font-weight:bold" href="/Home/GetArticles/">Last 6 Hours</a>
            <a class="dropdown-item" style="font-weight:bold" href="/Home/GetArticles/">Last 9 Hours</a>
            <a class="dropdown-item" style="font-weight:bold" href="/Home/GetArticles/">Last 12 Hours</a>
            <a class="dropdown-item" style="font-weight:bold" href="/Home/GetArticles/">Last 24 Hours</a>
        </div>
    </div>

    <div class="d-none d-sm-inline btn-group">
        <button class="btn btn-primary btn-lg dropdown-toggle btn-results" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Results
        </button>
        <div class="dropdown-menu menu-results" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" style="font-weight:bold" href="/Home/GetArticles/">20</a>
            <a class="dropdown-item" style="font-weight:bold" href="/Home/GetArticles/">50</a>
            <a class="dropdown-item" style="font-weight:bold" href="/Home/GetArticles/">100</a>
            <a class="dropdown-item" style="font-weight:bold" href="/Home/GetArticles/">200</a>
            <a class="dropdown-item" style="font-weight:bold" href="/Home/GetArticles/">500</a>
        </div>
    </div>
</div>


<a class="d-sm-none btn btn-primary" data-toggle="collapse" href="#mobilefilter" role="button" aria-expanded="false" aria-controls="mobilefilter">
    Filter
</a>

<button type="button" class="d-sm-none btn btn-primary" data-toggle="modal" data-target="#mobilesort">
    Sort
</button>


<div class="collapse" id="mobilefilter">
    <div class="card card-body">
        <a class="btn btn-sm btn-primary">Country</a>
        <br />
        <a class="btn btn-sm btn-primary">Duration</a>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="mobilesort" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="radio" name="options" id="option1"> Option 1 <br />
                <input type="radio" name="options" id="option2"> Option 2 <br />
                <input type="radio" name="options" id="option3"> Option 3 <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<br /><br />


<div class="container-fluid">


    @*@Html.Partial("_ArticlePartial", Model.Articles)*@

    <div class="articlespartial">

        @Html.Action("GetArticles", "Home")

    </div>

    @*if (i > 0 && i % 2 == 0)
        {
            @:</div><div class="row">
            // close and start new row
        }
        <div class="col-md-6" style="margin-top:1px;margin-bottom:1px">
            <a href="@Model.Articles[i].Url" class="d-block mb-6">
                <img class="rounded img-fluid" src="@Model.Articles[i].ImageUrl">
                <div style="position: absolute; bottom: 8px; left: 16px; background-color:white;color:black; font-size:14pt">@Model.Articles[i].Headline</div>
                <div style="position: absolute; top: 8px; left: 16px; background-color:white;color:black; font-weight:bold; font-size:16pt">@Model.Articles[i].Country</div>
            </a>
        </div>*@


</div>

